@model BitSteam.Models.ReportViewData

@{
    ViewBag.Title = "Archives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid_8">
    <!-- Display a list of Archive Date Categories-->
    <div class="grid_2 alpha">
        <fieldset class="rightBlock">
            <legend>Tags</legend>
            <ul>
                <!-- TODO: Add Javascript to take the Year and pass value correctly versus hardcoding-->
                <li class="link">@Html.ActionLink("January","ChooseDate",new {month = 1, day = 31, year = 2013}) </li>
                <li class="link">@Html.ActionLink("February", "ChooseDate", new { month = 2, day = 28, year = 2013 })</li>
                <li class="link">@Html.ActionLink("March", "ChooseDate", new { month = 3, day = 31, year = 2013 })</li>
                <li class="link">@Html.ActionLink("April", "ChooseDate", new { month = 4, day = 30, year = 2013 })</li>
                <li class="link">@Html.ActionLink("May", "ChooseDate", new { month = 5, day = 31, year = 2013 })</li>
                <li class="link">@Html.ActionLink("June", "ChooseDate", new { month = 6, day = 30, year = 2013 })</li>
                <li class="link">@Html.ActionLink("July", "ChooseDate", new { month = 7, day = 31, year = 2013 })</li>
                <li class="link">@Html.ActionLink("August", "ChooseDate", new { month = 8, day = 31, year = 2013 })</li>
                <li class="link">@Html.ActionLink("September", "ChooseDate", new { month = 9, day = 30, year = 2013 })</li>
                <li class="link">@Html.ActionLink("October", "ChooseDate", new { month = 10, day = 31, year = 2013 })</li>
                <li class="link">@Html.ActionLink("November", "ChooseDate", new { month = 11, day = 30, year = 2013 })</li>
                <li class="link">@Html.ActionLink("December", "ChooseDate", new { month = 12, day = 31, year = 2013 })</li>
            </ul>
        </fieldset>
    </div>
    <div class="grid_6 omega">
        <!-- Have User Select Year-->
        <p>Select Year</p>
        <select>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
        </select>
        
            <!-- Display blogs that contain the selected Tag-->
            <fieldset class="rightBlock">
                <legend>Blogs</legend>
                <ul>
                    @foreach (var blog in Model.chosenBlogs)
                    {
                        <li>@Html.ActionLink(blog.title, "ChooseBlog", new { blogId = @blog.id })</li>
                    }
                </ul>
            </fieldset>
    </div>
</div>
