<fieldset class="rightBlock">
    <legend>@Html.ActionLink("Archives", "Archives","Report")</legend>
    <ul>
        <li class="link">@Html.ActionLink("January", "ChooseDate", new { month = 1, day = 31 }) </li>
        <li class="link">@Html.ActionLink("February", "ChooseDate", new { month = 2, day = 28 })</li>
        <li class="link">@Html.ActionLink("March", "ChooseDate", new { month = 3, day = 31 })</li>
        <li class="link">@Html.ActionLink("April", "ChooseDate", new { month = 4, day = 30 })</li>
        <li class="link">@Html.ActionLink("May", "ChooseDate", new { month = 5, day = 31 })</li>
        <li class="link">@Html.ActionLink("June", "ChooseDate", new { month = 6, day = 30 })</li>
        <li class="link">@Html.ActionLink("July", "ChooseDate", new { month = 7, day = 31 })</li>
        <li class="link">@Html.ActionLink("August", "ChooseDate", new { month = 8, day = 31 })</li>
        <li class="link">@Html.ActionLink("September", "ChooseDate", new { month = 9, day = 30 })</li>
        <li class="link">@Html.ActionLink("October", "ChooseDate", new { month = 10, day = 31 })</li>
        <li class="link">@Html.ActionLink("November", "ChooseDate", new { month = 11, day = 30 })</li>
        <li class="link">@Html.ActionLink("December", "ChooseDate", new { month = 12, day = 31 })</li>
    </ul>
</fieldset>

